{%extends "tracker/base.html"%}

{%load intensity_tags %}

{%block mainmenubody%}
<script type="text/javascript">
    $('#tracker_activities').addClass('current');
</script>

{%if user.is_authenticated%}
{{filtration|filtrationer}}
<br>
{%endif%}


<table class="default" cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr>
            <td style="width: 25%;">Name</td>
            <td style="width: 75%;">Owner</td>
        </tr>
    </thead>
 <tfoot>
    <tr>
        <td colspan="8">&nbsp;</td>
    </tr>
 </tfoot>
 <tbody>
{% for activity in activities %}
  <tr>
    <td>{{activity|hl_activity}}</td>
    <td>{{activity.owner|hl_account:my_account}}</td>
  </tr>
{% endfor %}
</table>

</p>

{%endblock%}

