{%extends "tracker/base.html"%}

{%block mainmenubody%}
<script type="text/javascript">
    $('#tracker_overview').addClass('current');
</script>

<h1>Welcome to Syntensity beta testing!</h1>
<ul>
    <li>Expect breakage</li>
    <li>Expect minor API changes</li>
    <li>Feel free to ask for help on the <a href="/tracker/forum/">Forum</a> or on IRC (#syntensity on FreeNode)</li>
    <li>Please file bugs as described <a href="{{toplevel_root}}/toplevel/intensityengine/">here</a></li>
</ul>

{%endblock%}

