{% extends "base.html" %}

{%block uppernavigation%}
{%endblock%}

{% block mainmenubody %}

{% if form.errors %}
<p class="error">Please correct the error{{form.errors|pluralize}} below:</p>
<span class="error">{{form.non_field_errors}}</span>
{% endif %}

<form method="post" action="?next={{ next|default:"/" }}">

<div class="text_center">
<div class="boxLogin">
  <div class="top"></div>
  <div class="middle">
    <h3>Enter a new password for your account</h3>
    <dl>

<dt><label for="id_password1">Password:</label>{% if form.password1.errors %} <span class="error">{{ form.password1.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password1 }}</dd>

<dt><label for="id_password2">Retype password:</label>{% if form.password2.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password2 }}</dd>

<dt class="fullline"><input type="submit" value="Submit" /></dt>
    </dl>
    <div class="clear"></div>
  </div>
  <div class="bottom"></div>
</div>
</div>
</form>
{% endblock %}

