{% extends "base.html" %}

{%block uppernavigation%}
{%endblock%}

{%block mainmenu%}
  <a href="" class="active">Reset Password</a>
{%endblock%}

{% block mainmenubody %}

{% if form.errors %}
<p class="error">Please correct the error{{form.errors|pluralize}} below:</p>
<span class="error">{{form.non_field_errors}}</span>
{% endif %}

<form method="post" action="?next={{ next|default:"/" }}">
<div class="text_center">
<div class="boxLogin">
  <div class="top"></div>
  <div class="middle">
    <h3>Password Reset</h3>
    <dl>
<dt><label for="id_email">Enter your email to have a new password sent to it:</label>{% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.email }}</dd>

<dt></dt>
<dd>{{form.security_checks}}
</dd>

<dt class="fullline"><input type="submit" value="Submit" /></dt>
    </dl>
    <div class="clear"></div>
  </div>
  <div class="bottom"></div>
</div>
</div>
</form>
{% endblock %}

