*.pyc
debugit*
out
*~
src/client/plugin/third_party/libevent/*
cbuild/CMakeCache.txt
cbuild/CMakeFiles/
cbuild/Makefile
cbuild/cmake_install.cmake
cbuild/src/
local/master_server/local_asset_storage/
local/master_server/sessions/
local/master_server/sqlite.db
local/server/metadata/
local/server/packages/
local/server2/
src/thirdparty/v8/.sconsign.dblite
src/thirdparty/v8/libv8.a
src/thirdparty/v8/obj/
log.*20??

